
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage
.cache
*.egg-info/
*.egg

.env
.venv
venv/
env/
ENV/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

/dist/
/build/
/downloads/
/eggs/
*.log
*.tmp

.ipynb_checkpoints

*.txt

!embedding/*.txt
!predictons/*.txt
!THIRD_PARTY_LICENSES/*.txt
!graph/*.txt

*.json

!embedding/*.json

*.pkl

!autoencoder/*.pkl

*.yml

!environment.yml

*.csv

!Dataset/*.csv

*.png
*.jpg

/results/
