
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage
.cache
*.egg-info/
*.egg

.env
.venv
venv/
env/
ENV/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

/dist/
/build/
/downloads/
/eggs/
*.log
*.tmp

.ipynb_checkpoints

*.txt

!embeddings.txt
!labels.txt
!predicted_labels_ae.txt
!predicted_labels_sdcn.txt
!THIRD_PARTY_LICENSES/*.txt
!graph/*.txt

*.json

!label_map.json

*.pkl

!ae.pkl
!ae_sdcn.pkl

*.yml

!environment.yml

*.csv

!Dataset_Baseline.csv
!Dataset_Ideal.csv
!Dataset_Noise.csv
